
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
 

}
.planet{
border: solid;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
width: 50%;
height: 30%;
animation: rotate 1 linear infinite;
animation-duration: var(--duration);
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.planet-container{
    background-color: rgba(31, 37, 225, 0.3);
    display: fixed;
    left: 25%; right: 25%; top: 35%; 
}
img{
    width :30%;
}

#p1{position: absolute; left: 25%; right: 25%; top: 35%; 
    ;z-index: 1;background-color:rgba(205, 231, 39, 0.3) ;}
#p2{position: absolute; left: 25%; right: 25%; top: 35%;
    ;z-index: 2;background-color:rgba(225, 196, 31, 0.3) ;}
#p3{position: absolute; left: 25%; right: 25%; top: 35%;
    ;z-index: 3;background-color:rgba(31, 225, 34, 0.3) ;}
#p4{position: absolute; left: 25%; right: 25%; top: 35%;
    ;z-index: 4;background-color:rgba(31, 218, 225, 0.3) ;}
#p5{position: absolute; left: 25%; right: 25%; top: 35%;
    ;z-index: 3;background-color:rgba(31, 37, 225, 0.3) ;}
#p6{position: absolute; left: 25%; right: 25%; top: 35%;
    ;z-index: 6;background-color:rgba(141, 31, 225, 0.3) ;}
#p7{position: absolute; left: 25%; right: 25%; top: 35%;
    ;z-index: 7;background-color:rgba(225, 31, 109, 0.3) ;}

#img1{position: relative;left: -50%;}
#img2{position: relative;left: -50%;}
#img3{position: relative;left: -50%;}
#img4{position: relative;left: -50%;}
#img5{position: relative;left: -50%;}
#img6{position: relative;left: -50%;}
#img7{position: relative;left: -50%;}